# Private configuration (Contains Wi-Fi & Tokens)
include/config.h

# PlatformIO
.pio
.pioenvs
.piolibdeps

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
